body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  height: 100%;
  text-align: center;

  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
}
